[submodule "release-eks-FIS10-GIFTCARD-2.1.0"]
	path = configs/release-eks-FIS10-GIFTCARD-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS10-GIFTCARD-2.1.0
[submodule "release-eks-FIS12-2.0.2"]
	path = configs/release-eks-FIS12-2.0.2
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-2.0.2
[submodule "release-eks-FIS12-2.0.3"]
	path = configs/release-eks-FIS12-2.0.3
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-2.0.3
[submodule "release-eks-FIS12-2.3.0"]
	path = configs/release-eks-FIS12-2.3.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-2.3.0
[submodule "release-eks-FIS12-PF-2.2.1"]
	path = configs/release-eks-FIS12-PF-2.2.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-PF-2.2.1
[submodule "release-eks-FIS13-HEALTH-2.0.0"]
	path = configs/release-eks-FIS13-HEALTH-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS13-HEALTH-2.0.0
[submodule "release-eks-FIS13-HEALTH-2.0.1"]
	path = configs/release-eks-FIS13-HEALTH-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS13-HEALTH-2.0.1
[submodule "release-eks-FIS13-sachet"]
	path = configs/release-eks-FIS13-sachet
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS13-sachet
[submodule "release-eks-FIS14-2.1.0"]
	path = configs/release-eks-FIS14-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS14-2.1.0
[submodule "release-eks-LOG11-1.2.5"]
	path = configs/release-eks-LOG11-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-LOG11-1.2.5
[submodule "release-eks-RET10-1.2.0"]
	path = configs/release-eks-RET10-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET10-1.2.0
[submodule "release-eks-RET10-1.2.5"]
	path = configs/release-eks-RET10-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET10-1.2.5
[submodule "release-eks-RET11-1.2.0"]
	path = configs/release-eks-RET11-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET11-1.2.0
[submodule "release-eks-RET11-1.2.5"]
	path = configs/release-eks-RET11-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET11-1.2.5
[submodule "release-eks-RET12-1.2.0"]
	path = configs/release-eks-RET12-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET12-1.2.0
[submodule "release-eks-RET12-1.2.5"]
	path = configs/release-eks-RET12-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET12-1.2.5
[submodule "release-eks-RET13-1.2.0"]
	path = configs/release-eks-RET13-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET13-1.2.0
[submodule "release-eks-RET13-1.2.5"]
	path = configs/release-eks-RET13-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET13-1.2.5
[submodule "release-eks-RET14-1.2.0"]
	path = configs/release-eks-RET14-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET14-1.2.0
[submodule "release-eks-RET14-1.2.5"]
	path = configs/release-eks-RET14-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET14-1.2.5
[submodule "release-eks-RET15-1.2.0"]
	path = configs/release-eks-RET15-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET15-1.2.0
[submodule "release-eks-RET15-1.2.5"]
	path = configs/release-eks-RET15-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET15-1.2.5
[submodule "release-eks-RET16-1.2.0"]
	path = configs/release-eks-RET16-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET16-1.2.0
[submodule "release-eks-RET16-1.2.5"]
	path = configs/release-eks-RET16-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET16-1.2.5
[submodule "release-eks-RET18-1.2.0"]
	path = configs/release-eks-RET18-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET18-1.2.0
[submodule "release-eks-RET18-1.2.5"]
	path = configs/release-eks-RET18-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RET18-1.2.5
[submodule "release-eks-RETINVL-1.2.5"]
	path = configs/release-eks-RETINVL-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RETINVL-1.2.5
[submodule "release-eks-RETeB2B"]
	path = configs/release-eks-RETeB2B
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-RETeB2B
[submodule "release-eks-TRV10-2.0.1"]
	path = configs/release-eks-TRV10-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV10-2.0.1
[submodule "release-eks-TRV10-2.1.0"]
	path = configs/release-eks-TRV10-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV10-2.1.0
[submodule "release-eks-TRV11-2.0.0"]
	path = configs/release-eks-TRV11-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV11-2.0.0
[submodule "release-eks-TRV11-2.0.1"]
	path = configs/release-eks-TRV11-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV11-2.0.1
[submodule "release-eks-TRV11-2.1.0"]
	path = configs/release-eks-TRV11-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV11-2.1.0
[submodule "release-eks-TRV12-2.0.0"]
	path = configs/release-eks-TRV12-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV12-2.0.0
[submodule "release-eks-TRV13-2.0.1"]
	path = configs/release-eks-TRV13-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV13-2.0.1
[submodule "release-eks-TRV14-2.0.0"]
	path = configs/release-eks-TRV14-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV14-2.0.0
[submodule "release-eks-logistics-1.2.0"]
	path = configs/release-eks-logistics-1.2.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-logistics-1.2.0
[submodule "release-eks-logistics-1.2.5"]
	path = configs/release-eks-logistics-1.2.5
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-logistics-1.2.5
[submodule "automation-framework"]
	path = automation-framework
	url = https://github.com/ONDC-Official/automation-framework.git
	branch = feat/kb-commit
