[submodule "release-eks-FIS10-GIFTCARD-2.1.0"]
	path = configs/release-eks-FIS10-GIFTCARD-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS10-GIFTCARD-2.1.0
[submodule "release-eks-FIS12-2.0.2"]
	path = configs/release-eks-FIS12-2.0.2
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-2.0.2
[submodule "release-eks-FIS12-2.0.3"]
	path = configs/release-eks-FIS12-2.0.3
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-2.0.3
[submodule "release-eks-FIS12-2.3.0"]
	path = configs/release-eks-FIS12-2.3.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-2.3.0
[submodule "release-eks-FIS12-PF-2.2.1"]
	path = configs/release-eks-FIS12-PF-2.2.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS12-PF-2.2.1
[submodule "release-eks-FIS13-HEALTH-2.0.0"]
	path = configs/release-eks-FIS13-HEALTH-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS13-HEALTH-2.0.0
[submodule "release-eks-FIS13-HEALTH-2.0.1"]
	path = configs/release-eks-FIS13-HEALTH-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS13-HEALTH-2.0.1
[submodule "release-eks-FIS13-sachet"]
	path = configs/release-eks-FIS13-sachet
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS13-sachet
[submodule "release-eks-FIS14-2.1.0"]
	path = configs/release-eks-FIS14-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-FIS14-2.1.0
[submodule "release-eks-TRV10-2.0.1"]
	path = configs/release-eks-TRV10-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV10-2.0.1
[submodule "release-eks-TRV10-2.1.0"]
	path = configs/release-eks-TRV10-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV10-2.1.0
[submodule "release-eks-TRV11-2.0.0"]
	path = configs/release-eks-TRV11-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV11-2.0.0
[submodule "release-eks-TRV11-2.0.1"]
	path = configs/release-eks-TRV11-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV11-2.0.1
[submodule "release-eks-TRV11-2.1.0"]
	path = configs/release-eks-TRV11-2.1.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV11-2.1.0
[submodule "release-eks-TRV12-2.0.0"]
	path = configs/release-eks-TRV12-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV12-2.0.0
[submodule "release-eks-TRV13-2.0.1"]
	path = configs/release-eks-TRV13-2.0.1
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV13-2.0.1
[submodule "release-eks-TRV14-2.0.0"]
	path = configs/release-eks-TRV14-2.0.0
	url = https://github.com/ONDC-Official/automation-specifications.git
	branch = release-eks-TRV14-2.0.0
[submodule "automation-framework"]
	path = automation-framework
	url = https://github.com/ONDC-Official/automation-framework.git
	branch = feat/kb-commit
